@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins',sans-serif;
}

body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.125),rgba(0, 0, 0, 0.145)), url(img1.jpg);
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.menu-bar
{
    background-image: url(https://images.pexels.com/photos/251603/pexels-photo-251603.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   
    text-align: center;
    background-size: cover;
    width:100%;
    padding: 0;
    margin: 0;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: rgb(0, 0, 0);
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 8px;

}

.menu-bar ul li a
{
    text-decoration: none;
    color: black;

}
.menu-bar ul li:hover
{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding-block-start: 10px 10px;
    
}


.active,.menu-bar ul li:hover
{
    background: rgba(255, 255, 255, 0.354);
    border-radius: 2px;

}


.menu-bar .fa
{
    margin-right: 8px;
}



.linkimg
{
    width: 50px;
    position: absolute;
    left: 10px;
    top: 450px;
}

.linkimg:hover
{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 0px 10px;
    
}

.link
{
    width: 50px;
    position: absolute;
    left: 10px;
    top: 510px;
}
.link:hover
{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 0px 10px;
    
}

.lin
{
    width: 50px;
    position: absolute;
    left: 10px;
    top: 576px;
}
.lin:hover
{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 0px 10px;
    
}

.footer  {
    align-content: center;
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: orange;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
.footer a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}



#app{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -130px;
}
section{
    padding:2rem 9%;
    margin-top: -100px;
    font-size: larger;

}
.hmm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: -10px;
    margin-left: -70px;
    position: relative;
    z-index: 0;
}

.hmm h3{
    color: rgb(255, 255, 255);
    border: black;
    letter-spacing: 3px;
}

.hmm p{
    color: azure;

}
.hmm .btn{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}
button
{
    background: #ffaa33af;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 16px 10px;
    transition: 4s;
}

button:hover
{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
}










@media (max-width: 1000px)
        {
            .menu-bar
            {
               width: 100%;
               padding: 10px;
            }
            .menu-bar ul li
            {
                flex-direction: column;
            }
            .menu-bar ul li
            {
                margin-bottom: 0;
            }
            
            .menu-bar,
            body
            {
                width: 1000px;
                margin: 50px;
            }
        }
